<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Receta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .recipe-image {
            height: 400px;
            width: auto;
            object-fit: cover;
        }
    </style>
    <script th:inline="javascript">
        let units = [[${unidades}]];
        let ingredients = [[${ingredientes}]];

        $(document).ready(function () {
            $(".ingredient-input").autocomplete({
                source: ingredients.map(item => item.name),
                select: function (event, ui) {
                    const selectedIngredientName = ui.item.value;
                    const selectedIngredient = ingredients.find(item => item.name === selectedIngredientName);

                    if (selectedIngredient) {
                        const unitField = $(this).closest(".form-row").find("select[name='units']");
                        unitField.val(selectedIngredient.predeterminedUnit);
                        toggleQuantityField(unitField);
                    }
                }
            });

            $('#tags-input').on('keypress', function (event) {
                if (event.which === 13) {
                    event.preventDefault();
                    let tagText = $(this).val().trim();
                    if (tagText) {
                        addTag(tagText);
                        $(this).val('');
                    }
                }
            });

            const baseUnitSelect = document.querySelector("select[name='units']");
            if (baseUnitSelect) {
                toggleQuantityField(baseUnitSelect);
                baseUnitSelect.addEventListener("change", function () {
                    toggleQuantityField(baseUnitSelect);
                });
            }
        });

        function createUnitSelect() {
            const unitSelect = document.createElement("select");
            unitSelect.setAttribute("name", "units");
            unitSelect.setAttribute("class", "form-control col-md-3 ml-2");
            unitSelect.setAttribute("required", "required");

            units.forEach(unit => {
                const option = document.createElement("option");
                option.value = unit;
                option.textContent = unit;
                unitSelect.appendChild(option);
            });

            unitSelect.addEventListener("change", function () {
                toggleQuantityField(unitSelect);
            });

            return unitSelect;
        }

        function addIngredient() {
            const ingredientContainer = document.getElementById("ingredient-container");
            const ingredientDiv = document.createElement("div");
            ingredientDiv.setAttribute("class", "form-row align-items-center mb-2");

            const ingredientInput = document.createElement("input");
            ingredientInput.setAttribute("name", "ingredients");
            ingredientInput.setAttribute("class", "form-control col-md-4 ingredient-input");
            ingredientInput.setAttribute("placeholder", "Nombre del ingrediente");
            ingredientInput.setAttribute("required", "required");

            const quantityInput = document.createElement("input");
            quantityInput.setAttribute("name", "quantities");
            quantityInput.setAttribute("class", "form-control col-md-3 ml-2");
            quantityInput.setAttribute("type", "number");
            quantityInput.setAttribute("step", "0.01");
            quantityInput.setAttribute("placeholder", "Cantidad");
            quantityInput.setAttribute("required", "required");

            const unitSelect = createUnitSelect();

            const removeButton = document.createElement("button");
            removeButton.setAttribute("type", "button");
            removeButton.setAttribute("class", "btn btn-sm btn-danger ml-2");
            removeButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
            removeButton.onclick = function () {
                ingredientDiv.remove();
            };

            ingredientDiv.appendChild(ingredientInput);
            ingredientDiv.appendChild(quantityInput);
            ingredientDiv.appendChild(unitSelect);
            ingredientDiv.appendChild(removeButton);
            ingredientContainer.appendChild(ingredientDiv);

            $(ingredientInput).autocomplete({
                source: ingredients.map(item => item.name),
                select: function (event, ui) {
                    const selectedIngredientName = ui.item.value;
                    const selectedIngredient = ingredients.find(item => item.name === selectedIngredientName);

                    if (selectedIngredient) {
                        const unitField = $(this).closest(".form-row").find("select[name='units']");
                        unitField.val(selectedIngredient.predeterminedUnit);
                        toggleQuantityField(unitField);
                    }
                }
            });
        }

        function addTag(tagText) {
            const tagsList = document.getElementById("tags-list");

            const tagDiv = document.createElement("div");
            tagDiv.className = "badge badge-primary m-1 p-2 d-flex align-items-center";

            tagDiv.textContent = tagText;

            const hiddenInput = document.createElement("input");
            hiddenInput.type = "hidden";
            hiddenInput.name = "tags";
            hiddenInput.value = tagText;

            const removeButton = document.createElement("button");
            removeButton.className = "ml-1 btn btn-xs btn-danger";
            removeButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
            removeButton.onclick = function () {
                tagsList.removeChild(tagDiv);
            };

            removeButton.style.width = "18px";
            removeButton.style.height = "18px";
            removeButton.style.padding = "0";
            removeButton.style.fontSize = "12px";
            removeButton.style.display = "flex";
            removeButton.style.justifyContent = "center";
            removeButton.style.alignItems = "center";

            tagDiv.appendChild(hiddenInput);
            tagDiv.appendChild(removeButton);
            tagsList.appendChild(tagDiv);
        }

function toggleQuantityField(unitSelect) {
    const quantityInput = $(unitSelect).closest(".form-row").find("input[name='quantities']");
    const hiddenField = $(unitSelect).closest(".form-row").find("input[name='hiddenQuantity']");

    if (unitSelect.value === "AL_GUSTO") {
        if (hiddenField.length === 0) {
            const hiddenQuantity = $('<input>')
                .attr('type', 'hidden')
                .attr('name', 'quantities')
                .attr('class', 'hiddenQuantity')
                .val('1');
            $(unitSelect).closest(".form-row").append(hiddenQuantity);
        }
        quantityInput.prop("disabled", true).val("");
    } else {
        hiddenField.remove();
        quantityInput.prop("disabled", false).val("");
    }
}
        function addInstruction() {
            const instructionContainer = document.getElementById("instruction-container");
            const instructionDiv = document.createElement("div");
            instructionDiv.setAttribute("class", "input-group mb-2");

            const newInstruction = document.createElement("textarea");
            newInstruction.setAttribute("name", "instructions");
            newInstruction.setAttribute("class", "form-control");
            newInstruction.setAttribute("rows", "3");
            newInstruction.setAttribute("placeholder", "Escribe aquí los pasos de la receta. Pulsa el botón 'Añadir Instrucción' para agregar más pasos.");
            newInstruction.setAttribute("required", "required");

            const removeButton = document.createElement("button");
            removeButton.setAttribute("type", "button");
            removeButton.setAttribute("class", "btn btn-sm btn-danger ml-2");
            removeButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
            removeButton.onclick = function () {
                instructionDiv.remove();
            };
            removeButton.style.width = "30px";
            removeButton.style.height = "30px";
            removeButton.style.padding = "0";
            removeButton.style.display = "flex";
            removeButton.style.justifyContent = "center";
            removeButton.style.alignItems = "center";

            instructionDiv.appendChild(newInstruction);
            instructionDiv.appendChild(removeButton);
            instructionContainer.appendChild(instructionDiv);
        }
    </script>
</head>
<body class="d-flex flex-column min-vh-100">
<div class="container-fluid p-0">
    <div th:replace="~{fragments/header :: header}"></div>
</div>
<br>
<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center" th:if="${recipe != null}">
        <div class="text-center">
            <img th:src="@{${recipe.image}}" alt="Imagen de la receta" class="recipe-image mb-3 rounded">
        </div>
    </div>

    <h2 class="text-center text-secondary">
        <span th:if="${recipe != null}">Edita tu receta: <span th:text="${recipe.title}"></span></span>
        <span th:unless="${recipe != null}">Inspírate: Diseña Tu Propia Receta</span>
    </h2>
    <form th:action="@{/recipe}" method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title">Título</label>
            <input type="text" id="title" name="title" placeholder="Introduce el título de tu receta" required
                   class="form-control"
                   th:value="${recipe != null && recipe.title != null ? recipe.title : ''}">
        </div>

        <div class="mb-3">
            <label for="description">Descripción</label>
            <textarea id="description" name="description" class="form-control" rows="3"
                      placeholder="Describe brevemente la receta (opcional)"
                      th:text="${recipe != null && recipe.description != null ? recipe.description : ''}"></textarea>
        </div>

        <div class="mb-3">
            <label for="image">Imagen</label>
            <input type="file" id="image" name="image" accept="image/*" required class="form-control-file">
        </div>

        <div class="mb-3">
            <label for="difficulty">Dificultad</label>
            <select id="difficulty" name="difficulty" class="form-control col-md-3 ml-2" required>
                <option value="" th:if="${recipe == null}" disabled selected>
                    Selecciona la dificultad
                </option>
                <th:block th:each="dificultad : ${dificultades}">
                    <option th:value="${dificultad}"
                            th:text="${dificultad}"
                            th:selected="${(recipe != null && recipe.difficulty != null) && (dificultad.name == recipe.difficulty)}"></option>
                </th:block>
            </select>
        </div>


        <div class="mb-3">
            <label for="prepTime">Tiempo de Preparación (minutos)</label>
            <input type="number" id="prepTime" name="prepTime"
                   placeholder="Indica el tiempo aproximado de preparación en minutos"
                   class="form-control"
                   min="1"
                   th:value="${recipe != null && recipe.prepTime != null ? recipe.prepTime : ''}"
                   required>
        </div>

        <div class="mb-3">
            <label for="portions">Cantidad de comensales</label>
            <input type="number" id="portions" name="portions"
                   placeholder="Especifica para cuántas personas es la receta"
                   class="form-control"
                   min="1"
                   th:value="${recipe != null && recipe.portions != null ? recipe.portions : ''}"
                   required>
        </div>

        <div class="mb-3">
            <label>Ingredientes</label>
            <div id="ingredient-container">
                <th:block th:if="${recipe != null && recipe.ingredients != null}">
                    <th:block th:each="ingredient, iterStat : ${recipe.ingredients}">
                        <div class="form-row align-items-center mb-2">
                            <input type="text" name="ingredients" class="form-control col-md-4 ingredient-input"
                                   placeholder="Nombre del ingrediente" required
                                   th:value="${ingredient}">
                            <input type="number" name="quantities" class="form-control col-md-3 ml-2" step="0.01"
                                   placeholder="Cantidad" required
                                   th:value="${recipe.quantities[iterStat.index]}">
                            <select name="units" class="form-control col-md-3 ml-2" required>
                                <option th:each="unidad : ${unidades}" th:value="${unidad}" th:text="${unidad}"
                                        th:selected="${unidad == recipe.units[iterStat.index]}"></option>
                            </select>
                            <th:block th:if="${!iterStat.first}">
                                <button type="button" class="btn btn-sm btn-danger ml-2"
                                        onclick="this.closest('.form-row').remove()">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>
                <th:block th:if="${recipe == null || recipe.ingredients == null || recipe.ingredients.isEmpty()}">
                    <div class="form-row align-items-center mb-2">
                        <input type="text" name="ingredients" class="form-control col-md-4 ingredient-input"
                               placeholder="Nombre del ingrediente" required>
                        <input type="number" name="quantities" class="form-control col-md-3 ml-2" step="0.01"
                               placeholder="Cantidad" required>
                        <select name="units" class="form-control col-md-3 ml-2" required>
                            <option th:each="unidad : ${unidades}" th:value="${unidad}" th:text="${unidad}"></option>
                        </select>
                    </div>
                </th:block>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-primary mt-2" onclick="addIngredient()">Añadir Ingrediente</button>
            </div>
        </div>

        <div class="mb-3">
            <label>Instrucciones</label>
            <div id="instruction-container">
                <th:block th:if="${recipe != null && recipe.instructions != null}">
                    <th:block th:each="instruction, iterStat : ${recipe.instructions}">
                        <div class="input-group mb-2">
                    <textarea name="instructions" class="form-control" rows="3"
                              placeholder="Escribe aquí los pasos de la receta."
                              required th:text="${instruction}"></textarea>
                            <th:block th:if="${!iterStat.first}">
                                <button type="button" class="btn btn-sm btn-danger ml-2"
                                        style="width: 30px; height: 30px; padding: 0; display: flex; justify-content: center; align-items: center;"
                                        onclick="this.closest('.input-group').remove()">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </th:block>
                        </div>
                    </th:block>
                </th:block>
                <th:block th:if="${recipe == null || recipe.instructions == null || recipe.instructions.isEmpty()}">
                    <div class="input-group mb-2">
                <textarea name="instructions" class="form-control" rows="3"
                          placeholder="Escribe aquí los pasos de la receta."
                          required></textarea>
                    </div>
                </th:block>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-primary mt-2" onclick="addInstruction()">Añadir Instrucción
                </button>
            </div>
        </div>

        <div class="mb-3">
            <label>Etiquetas</label>
            <div id="tags-container" class="mb-3">
                <input name="tags" type="text" id="tags-input" placeholder="Añadir etiqueta y presionar Enter"
                       class="form-control">
            </div>
        </div>
        <div id="tags-list" class="d-flex flex-wrap">
            <th:block th:if="${recipe != null && recipe.tags != null}">
                <th:block th:each="tag : ${recipe.tags}">
                    <div class="badge badge-primary m-1 p-2 d-flex align-items-center">
                        <span th:text="${tag}"></span>
                        <button class="ml-1 btn btn-danger"
                                style="width: 18px; height: 18px; padding: 0; font-size: 12px; display: flex; justify-content: center; align-items: center;"
                                onclick="removeTag(this)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </th:block>
            </th:block>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary"
                    th:text="${recipe != null ? 'Editar Receta' : 'Crear Receta'}"></button>
        </div>
    </form>
    <br>
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>
</div>
</body>
</html>
