<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <title>Encabezado</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-primary bg-secondary">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="/images/logo.png" alt="Logo" class="logo" width="90" height="90">
            <span class="text-white">Yummify</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Inicio</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <form th:action="@{/challenges}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">Desafíos
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <form th:action="@{/recipe/favorites}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">Mis favoritas
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <form th:action="@{/recipe/create}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">Subir receta
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/shoppingLists}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">Listas de la
                        compra
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/users/profile/{username}(username=${#authentication.name})}">Perfil</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/admin/panel}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">Consola de
                        administrador
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link text-white" href="/login">Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">Logout
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>

<style>
    .nav-link {
        margin-left: 15px;
        font-weight: bold;
    }
</style>
