<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <title>Encabezado</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-primary bg-secondary">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="/images/logo.png" alt="Logo" class="logo" width="90" height="90">
            <span class="text-white">Yummify</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/home">
                    <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <form th:action="@{/challenges}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">
                        <i class="fas fa-trophy"></i> Desafíos
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <form th:action="@{/recipe/favorites}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">
                        <i class="fas fa-heart"></i> Mis favoritas
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                <form th:action="@{/recipe/create}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">
                        <i class="fas fa-utensils"></i> Subir receta
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/shoppingLists}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">
                        <i class="fas fa-list"></i> Listas de la compra
                    </button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" th:href="@{/users/profile/{username}(username=${#authentication.name})}"
                   sec:authorize="isAuthenticated()">
                    <i class="fas fa-user"></i> Perfil</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/notifications}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">
                        <i class="fas fa-bell">
                            <span class="badge badge-danger">3</span>
                        </i></button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:action="@{/admin/panel}" method="get">
                    <button type="submit" class="btn btn-link nav-link text-white" style="cursor:pointer;">
                        <i class="fas fa-tools"></i> Consola de administrador
                    </button>
                </form>
            </li>
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link text-white" href="/login">
                    <i class="fas fa-sign-in-alt"></i> Login</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link nav-link text-white">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>

<style>
    .nav-link {
        margin-left: 15px;
        font-weight: bold;
    }
</style>
