<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Ingredientes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        .card {
            height: 300px;
            width: 100%;
        }
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
        .col-card {
            flex: 1 0 30%;
            max-width: 330px;
        }
        @media (max-width: 768px) {
            .col-card {
                flex: 1 0 45%;
            }
        }
        @media (max-width: 576px) {
            .col-card {
                flex: 1 0 100%;
            }
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/headerAdmin :: headerAdmin}"></div>
<div class="container mt-5">
    <h2 class="text-center text-secondary">¡Administra Eficazmente Los Ingredientes!</h2>
    <form th:action="@{/ingredients/management}" method="get">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="status">Selecciona el Estado:</label>
                <select name="status" class="form-control" id="status">
                    <option value="" disabled selected>-- Selecciona un Estado --</option>
                    <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="type">Selecciona el Tipo:</label>
                <select name="type" class="form-control" id="type">
                    <option value="" disabled selected>-- Selecciona un Tipo --</option>
                    <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3 d-flex justify-content-center mx-auto">
            <i class="fas fa-filter"></i> Filtrar Ingredientes
        </button>
    </form>
    <hr>
    <div class="row mt-4" th:if="${ingredients != null}">
        <div class="card-container">
            <div class="col-card" th:each="ingredient : ${ingredients.content}">
                <div class="card mb-4 bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title text-white" th:text="${ingredient.ingredientName}"></h5>
                        <p class="card-text">
                            Estado: <span class="text-white" th:text="${ingredient.ingredientStatus}"></span><br>
                            Tipo: <span class="text-white" th:text="${ingredient.ingredientType}"></span><br>
                            Unidad predeterminada: <span class="text-white"
                                                         th:text="${ingredient.unitOfMeasure}"></span><br>
                            Calorías: <span class="text-white" th:text="${ingredient.calories}"></span><br>
                            Fecha de creación: <span class="text-white"
                                                     th:text="${ingredient.formattedCreationDate}"></span><br>
                            Última modificación: <span class="text-white"
                                                       th:text="${ingredient.formattedLastModification}"></span><br>
                        </p>
                        <a th:href="@{/ingredients/update/{id}(id=${ingredient.ingredientId})}" class="btn btn-warning">Actualizar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation" th:if="${ingredients.totalPages >= 1}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${ingredients.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="@{/ingredients/management(page=${ingredients.number - 1}, size=${ingredients.size}, status=${status}, type=${type})}"
                   aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, ingredients.totalPages - 1)}"
                th:classappend="${i == ingredients.number} ? 'active' : ''">
                <a class="page-link"
                   th:href="@{/ingredients/management(page=${i}, size=${ingredients.size}, status=${status}, type=${type})}"
                   th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${ingredients.hasNext()} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="@{/ingredients/management(page=${ingredients.number + 1}, size=${ingredients.size}, status=${status}, type=${type})}"
                   aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <br>
    <div th:if="${ingredients != null && ingredients.isEmpty()}" class="alert alert-warning">
        No hay ingredientes disponibles para el estado y tipo seleccionados.
    </div>
    <div th:if="${error}" class="alert alert-danger justified-center">
        <p th:text="${error}"></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>

