<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<style>
    body {
    overflow-x: hidden;
}
    .recipe-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 300px;
    }

    .recipe-card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }

.recipe-image-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
    .recipe-image {
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 20px;
        height: 270px;
        width: auto;
        object-fit: cover;
    }
</style>

<body class="d-flex flex-column min-vh-100">
<div class="container-fluid p-0">
    <div th:replace="~{fragments/header :: header}"></div>
</div>
<div class="row mt-3">
    <aside class="col-md-3 col-lg-3 text-center p-4 ">
        <form id="filtersForm" th:action="@{/home}" method="get">
            <div class="p-3 border border-3 border-info rounded shadow-sm"
                 style="min-height: 70%; display: flex; flex-direction: column; justify-content: space-between;">
                <h5 class="mb-4 text-secondary">Filtros</h5>
                <div class="mb-4">
                    <label for="difficulty" class="form-label">Dificultad</label>
                    <div class="input-group">
                        <select class="form-control" id="difficulty" name="difficulty">
                            <option value="" disabled selected>Filtro por dificultad</option>
                            <option th:each="difficulty : ${difficulties}" th:value="${difficulty}"
                                    th:text="${difficulty}"></option>
                        </select>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="portions" class="form-label">Porciones</label>
                    <input type="number" class="form-control" id="portions" name="portions" min="1" max="20" step="1"
                           placeholder="Número de porciones">
                </div>
                <div class="mb-4">
                    <label for="tags-input" class="form-label">Etiquetas</label>
                    <input name="tags" type="text" id="tags-input" placeholder="Añadir etiqueta y presionar Enter"
                           class="form-control">
                    <div id="tags-list" class="d-flex flex-wrap mt-2"></div>
                </div>
                <div class="mb-4">
                    <label for="ingredients-input" class="form-label">Ingredientes</label>
                    <input name="ingredients" type="text" id="ingredients-input"
                           placeholder="Añadir ingrediente y presionar Enter" class="form-control">
                    <div id="ingredients-list" class="d-flex flex-wrap mt-2"></div>
                </div>
                <div class="mb-4">
                    <label for="ingredientType" class="form-label">Tipo de Ingrediente</label>
                    <select class="form-control" id="ingredientType" name="ingredientType">
                        <option value="" disabled selected>Filtro por tipo de ingrediente</option>
                        <option th:each="ingredientType : ${ingredientTypes}" th:value="${ingredientType}"
                                th:text="${ingredientType}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-md">Filtrar</button>
            </div>
        </form>
    </aside>
    <main class="col-md-9">
        <div class="row p-3">
            <div class="col-md-12">
                <input type="text" class="form-control" id="searchInput" placeholder="Buscar recetas...">
            </div>
        </div>
        <div th:each="recipe : ${recipes.content}" class="col-12 mb-4">
            <div class="card recipe-card bg-primary">
                <a th:href="@{/recipe/{id}(id=${recipe.recipeId})}" class="text-decoration-none text-dark">
                    <div class="row no-gutters">
                        <div class="col-md-4 recipe-image-container">
                            <img th:src="@{${recipe.image}}" class="card-img recipe-image" alt="Imagen de la receta">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 th:text="${recipe.title}">Título de la receta</h5>
                                <p th:text="${recipe.description}">Descripción de la receta</p>
                                <div>
                                    <span class="badge bg-info m-1 p-2" th:each="tag : ${recipe.tags}"
                                          th:text="${tag}">Tag</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${recipes.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/home(page=${recipes.number - 1}, size=${recipes.size})}"
                       aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item"
                    th:each="i : ${#numbers.sequence(0, recipes.totalPages - 1)}"
                    th:classappend="${i == recipes.number} ? 'active' : ''">
                    <a class="page-link"
                       th:href="@{/home(page=${i}, size=${recipes.size})}"
                       th:text="${i + 1}"></a>
                </li>

                <li class="page-item" th:classappend="${recipes.hasNext()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/home(page=${recipes.number + 1}, size=${recipes.size})}"
                       aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const searchInput = document.getElementById('searchInput');
    searchInput.addEventListener('input', function () {
        const term = searchInput.value.toLowerCase();
        document.querySelectorAll('#recipesContainer .card').forEach(recipe => {
            const title = recipe.querySelector('.card-title').textContent.toLowerCase();
            recipe.style.display = title.includes(term) ? 'block' : 'none';
        });
    });

    document.getElementById("tags-input").addEventListener("keydown", function (event) {
        if (event.key === "Enter" && this.value.trim() !== "") {
            event.preventDefault();
            addTag(this.value.trim());
            this.value = "";
        }
    });

    function addTag(tagText) {
        const tagsList = document.getElementById("tags-list");
        const tagDiv = document.createElement("div");
        tagDiv.className = "badge badge-primary m-1 p-2 d-flex align-items-center";
        tagDiv.textContent = tagText;

        const removeButton = document.createElement("button");
        removeButton.className = "ml-1 btn btn-xs btn-danger";
        removeButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
        removeButton.onclick = function () {
            tagsList.removeChild(tagDiv);
        };

        removeButton.style.width = "18px";
        removeButton.style.height = "18px";
        removeButton.style.padding = "0";
        removeButton.style.fontSize = "12px";
        removeButton.style.display = "flex";
        removeButton.style.justifyContent = "center";
        removeButton.style.alignItems = "center";

        tagDiv.appendChild(removeButton);
        tagsList.appendChild(tagDiv);
    }

    document.getElementById("ingredients-input").addEventListener("keydown", function (event) {
        if (event.key === "Enter" && this.value.trim() !== "") {
            event.preventDefault();
            addIngredient(this.value.trim());
            this.value = "";
        }
    });

    function addIngredient(ingredientText) {
        const ingredientsList = document.getElementById("ingredients-list");
        const existingIngredient = Array.from(ingredientsList.children).find(ingredient => ingredient.textContent.trim() === ingredientText);

        if (existingIngredient) {
            alert("Este ingrediente ya ha sido añadido.");
            return;
        }

        const ingredientDiv = document.createElement("div");
        ingredientDiv.className = "badge badge-success m-1 p-2 d-flex align-items-center";
        ingredientDiv.textContent = ingredientText;

        const removeButton = document.createElement("button");
        removeButton.className = "ml-1 btn btn-xs btn-danger";
        removeButton.innerHTML = '<i class="fas fa-trash-alt"></i>';
        removeButton.onclick = function () {
            ingredientsList.removeChild(ingredientDiv);
        };

        removeButton.style.width = "18px";
        removeButton.style.height = "18px";
        removeButton.style.padding = "0";
        removeButton.style.fontSize = "12px";
        removeButton.style.display = "flex";
        removeButton.style.justifyContent = "center";
        removeButton.style.alignItems = "center";

        ingredientDiv.appendChild(removeButton);
        ingredientsList.appendChild(ingredientDiv);
    }
</script>
</body>
</html>
</body>
</html>