<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Retos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<div class="container-fluid p-0">
    <div th:replace="~{fragments/headerAdmin :: headerAdmin}" sec:authorize="hasRole('ROLE_ADMIN')"></div>
    <div th:replace="~{fragments/header :: header}" sec:authorize="hasRole('ROLE_USER')"></div>
</div>
<div class="container mt-5">
    <h2 class="text-center text-secondary mb-4" sec:authorize="hasRole('ROLE_ADMIN')">Gestión de Desafíos</h2>
    <h2 class="text-center text-secondary mb-4" sec:authorize="hasRole('ROLE_USER')">Desafíos activos</h2>
    <div th:if="${successParticipation}" class="alert alert-success text-center">
        <p th:text="${successParticipation}"></p>
    </div>
    <div th:if="${errorParticipation}" class="alert alert-danger text-center">
        <p th:text="${errorParticipation}"></p>
    </div>
    <div class="form-row align-items-center mb-4" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" onclick="window.location.href='/challenges/create'">
                <i class="fas fa-plus"></i> Crear Nuevo Desafío
            </button>
        </div>
        <form th:action="@{/challenges}" method="get" class="form-row align-items-center ml-auto">
            <div class="col-auto">
                <select id="status" class="form-control" aria-label="Selecciona el estado de los retos">
                    <option value="" disabled selected>Elige los retos que quieres ver</option>
                    <option value="finalizado">Finalizado</option>
                    <option value="en_curso">En curso</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Filtrar Desafíos</button>
            </div>
        </form>
        <div th:if="${success}" class="alert alert-success text-center">
            <p th:text="${success}"></p>
        </div>
        <div th:if="${error}" class="alert alert-danger text-center">
            <p th:text="${error}"></p>
        </div>
    </div>
    <hr>
    <div th:each="challenge : ${challengesPage.content}">
        <div class="card mb-3 bg-primary">
            <div class="card-header">
                <h5 class="card-title" th:text="${challenge.title}">Título del Desafío</h5>
            </div>
            <br>
            <div class="card-body">
                <button class="btn btn-info btn-sm ml-2" type="button" data-toggle="collapse"
                        th:id="'toggleDetails-' + ${challenge.challengeId}"
                        th:data-target="'#challengeDetails-' + ${challenge.challengeId}"
                        aria-expanded="false"
                        th:aria-controls="'challengeDetails-' + ${challenge.challengeId}"> Ver detalles
                </button>

                <div class="collapse" th:id="'challengeDetails-' + ${challenge.challengeId}">
                    <hr>
                    <p class="card-text" th:text="${challenge.description}">Descripción del reto</p>
                    <p class="card-text"><strong>Fecha de inicio:</strong> <span
                            th:text="${challenge.startDate}"></span>
                    </p>
                    <p class="card-text"><strong>Fecha de fin:</strong> <span th:text="${challenge.endDate}"></span></p>
                    <p class="card-text"><strong>Ganadores:</strong> <span th:text="${challenge.winnerQuantity}"></span>
                    </p>
                    <form th:action="@{/challenges/{id}/participations(id=${challenge.challengeId})}" method="get"
                          sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="submit" class="btn btn-secondary btn-sm mt-3">
                            Ver Participantes
                        </button>
                    </form>

                    <button class="btn btn-secondary btn-sm mt-3" type="button" data-toggle="collapse"
                            th:id="'participateCollapse-' + ${challenge.challengeId}"
                            th:data-target="'#participateForm-' + ${challenge.challengeId}"
                            aria-expanded="false"
                            th:aria-controls="'participateForm-' + ${challenge.challengeId}">
                        Pulsa para participar
                    </button>

                    <div class="collapse" th:id="'participateForm-' + ${challenge.challengeId}">
                        <hr>
                        <form th:action="@{/challenges/participate}" method="post">
                            <input type="hidden" name="challengeId" th:value="${challenge.challengeId}">
                            <div class="form-group">
                                <label for="recipeSelect">Selecciona una receta:</label>
                                <select class="form-control" id="recipeSelect" name="recipeId" required>
                                    <option value="" disabled selected>-- Elige una receta --</option>
                                    <option th:each="recipe : ${userRecipes}"
                                            th:value="${recipe.recipeId}"
                                            th:text="${recipe.title}"></option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-sm btn-secondary mt-3">Participar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${challengesPage.hasPrevious()} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="@{/challenges(page=${challengesPage.number - 1}, size=${challengesPage.size}, status=${status})}">Anterior</a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(0, challengesPage.totalPages - 1)}"
                th:classappend="${i == challengesPage.number} ? 'active'">
                <a class="page-link" th:href="@{/challenges(page=${i}, size=${challengesPage.size}, status=${status})}"
                   th:text="${i + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${challengesPage.hasNext()} ? '' : 'disabled'">
                <a class="page-link"
                   th:href="@{/challenges(page=${challengesPage.number + 1}, size=${challengesPage.size}, status=${status})}">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
